SECRET_KEY_BASE={{ lookup('env', 'SECRET_KEY_BASE') }}
PORT={{ lookup('env', 'PORT') }}
SLACK_APP_ID={{ lookup('env', 'SLACK_APP_ID') }}
SLACK_CLIENT_ID={{ lookup('env', 'SLACK_CLIENT_ID') }}
SLACK_CLIENT_SECRET={{ lookup('env', 'SLACK_CLIENT_SECRET') }}
SLACK_SIGNING_SECRET={{ lookup('env', 'SLACK_SIGNING_SECRET') }}
SLACK_BOT_TOKEN={{ lookup('env', 'SLACK_BOT_TOKEN') }}
LIVE_VIEW_SIGNING_SALT={{ lookup('env', 'LIVE_VIEW_SIGNING_SALT') }}
GITHUB_CLIENT_ID={{ lookup('env', 'GITHUB_CLIENT_ID') }}
GITHUB_CLIENT_SECRET={{ lookup('env', 'GITHUB_CLIENT_SECRET') }}
AUTHORIZED_GITHUB_USERS={{ lookup('env', 'AUTHORIZED_GITHUB_USERS') }}
